In [39]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [40]:
from btc_cycles import Bitcoin

In [41]:
btc = Bitcoin()

In [42]:
btc.prices

,Date,Close,block,reward,cycle_length,cycle_id,Halving,ATH,distance_ath_perc,cycle_progress
0,2013-04-28 00:00:00+00:00,127.954255,210000,25.000,1319.0,2.0,2012-11-28 00:00:00+00:00,127.954255,0.007815,0.114481
1,2013-04-29 00:00:00+00:00,144.539993,210000,25.000,1319.0,2.0,2012-11-28 00:00:00+00:00,144.539993,0.006919,0.115239
2,2013-04-30 00:00:00+00:00,139.000000,210000,25.000,1319.0,2.0,2012-11-28 00:00:00+00:00,144.539993,0.006653,0.115997
3,2013-05-01 00:00:00+00:00,116.989998,210000,25.000,1319.0,2.0,2012-11-28 00:00:00+00:00,144.539993,0.005600,0.116755
4,2013-05-02 00:00:00+00:00,105.209999,210000,25.000,1319.0,2.0,2012-11-28 00:00:00+00:00,144.539993,0.005036,0.117513
...,...,...,...,...,...,...,...,...,...,...
4007,2024-04-17 00:00:00+00:00,61276.693259,630000,6.250,1440.0,4.0,2020-05-11 00:00:00+00:00,73083.501328,0.000011,0.997917
4008,2024-04-18 00:00:00+00:00,63512.753495,630000,6.250,1440.0,4.0,2020-05-11 00:00:00+00:00,73083.501328,0.000012,0.998611
4009,2024-04-19 00:00:00+00:00,63843.568502,630000,6.250,1440.0,4.0,2020-05-11 00:00:00+00:00,73083.501328,0.000012,0.999306
4010,2024-04-20 00:00:00+00:00,64994.440068,630000,6.250,1440.0,4.0,2020-05-11 00:00:00+00:00,73083.501328,0.000012,1.000000
4011,2024-04-21 00:00:00+00:00,64926.643212,840000,3.125,1440.0,5.0,2024-04-20 12:09:27+00:00,73083.501328,0.000012,0.000000